*{
	margin: 0;padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	background: #F8F2FF;
}
.mainhead{
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.mainhead .logo img{
	width: 250px;
	height: 220px;
	padding-top: 30px;
	margin-bottom: 10px;

}
.mainhead nav{
	width: 750px;
	display: flex;
	align-items: center;
	justify-content: space-around;
  font-weight: bold;
}
.mainhead nav a{
	text-decoration: none;
	color: Black;
	text-transform: uppercase;
}
button{
	padding: 10px 45px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px;
	margin-right: 50px;
	background-color: lavender;
    border-width: 1px;
}
hr{

	width: auto;
	height: 0px;
	border: solid;
	color: lavender;
}
.contact{
	margin: auto;
	width: 1000px;
	box-shadow: 0 0 20px 0 #999;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%;
		position: absolute;
		}
.contact input,label{
	margin: 1rem;
	align-items: center;

}
.contact .forminp{
  margin: 50px;
}
form{
	margin: 35px;
}